html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Sofia', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 1;
  background-color: #fafafa;

  display: flex;
  column-gap: 40px;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.visually-hidden {
  display: none;
}