/* ----------------sidebar----------- */
.sidebar {
  padding: 050px 015px 060px 055px;
  /* background-color: #fcfc; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 252px;
  min-height: 100vh;
}

.sidebar-logo {
  margin-bottom: 57px;
}

.sidebar-help {
  margin-top: auto;
}

/* ----------------nav------ */


.nav-title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 44px;
}

.nav-list {
  font-size: 16px;
}

.nav-list li {
  margin-bottom: 27px;
}

.nav-list li:last-child {
  margin-bottom: 0;
}

.nav-list a {
  transition: color .2s ease-in;
}

.nav-list a:hover {
  color: #FD2E24;

}

.nav-list img {
  margin-right: 10px;
  vertical-align: middle;

  width: 26px;
  height: auto;
  object-fit: none;
}

/* -------------help-------- */
.help {
  font-size: 16px;
}

.help-icon {
  vertical-align: middle;
  margin-right: 17px;
}

/* ==============main============= */
.main {
  padding: 45px 0;
  width: 1100px;

}

/* =======header======= */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  margin-bottom: 70px;
}

/* =========search====== */

.search {
  width: 490px;
  height: 45px;

}

.search-label {
  height: 100%;
  display: flex;
}

.search-icon {
  margin-right: 7px;
}

.search-input {
  flex-grow: 1;
  padding: 0 10px;
  font-family: 'Circular Std';
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  border: none;
  border-radius: 15px;
  background: none;
}

.search-input:active,
.search-input:focus {
  background-color: #fff;
}

.search-input::placeholder {
  opacity: 0.2;
}

/* ==========nav header =========== */

.nav-header {
  font-family: 'Circular Std';
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
}

.nav-header-list {
  display: flex;
  align-items: center;

}

.nav-header-link-text {
  position: relative;
}

.nav-header-link-text::after {
  position: absolute;
  left: 0;
  width: 0%;
  bottom: -7px;
  content: '';
  display: block;

  height: 2px;
  background-color: #000;

  transition: width .2s ease-in-out;

}

.nav-header-link-text:hover::after {
  width: 100%;
}

.nav-header-link-text.active::after {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -7px;
  content: '';
  display: block;

  height: 2px;
  background-color: #000;

}

.nav-header-link-text+.nav-header-link-text {
  margin-left: 42px;
}

.nav-header-link-icon+.nav-header-link-icon {
  /* оступ для иконки у каторой есть иконка слева ,оступ только между последнми двумя иконками  */
  margin-left: 25px;
}

.nav-header-link-text+.nav-header-link-icon {
  margin-left: 50px;
}

/* =============cards wrapper=========== */
.cards-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cards-wrapper-row {
  display: flex;
  column-gap: 20px;
}


.col-horizont {
  display: flex;
  column-gap: 20px;
}

.col-vertical {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* =============cards============= */
.cards {
  border-radius: 15px;
  overflow: hidden;

  transition: all .2s ease-in;
}

.cards:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(185, 172, 215, 0.515);
}


.card-horizont {
  width: 539px;
  height: 180px;
}

.card-sale {


  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Sofia';
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  /* identical to box height */
  text-transform: uppercase;

  color: #000000;

}

.card-sale:hover {
  color: #FD2E24;
}

.card-vertical {

  width: 259px;
  height: 380px;
}

.card-prodact {
  position: relative;
}

.card-prodact-link {
  width: 100%;
  height: 100%;
}

.card-prodact-fav-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0;

  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  text-align: center;
  cursor: pointer;
}

.card-prodact-fav-btn svg {
  display: inline-block;
  vertical-align: middle;

  stroke: #000000;
  fill: #fff;
  transition: all .2s ease-in;
}

.card-prodact-fav-btn:hover svg {
  stroke: #FD2E24;
  fill: #FD2E24;


}


.card-prodact-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-section {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.card-section-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;

  color: #001AA2;
  margin-bottom: 3px;
}

.card-section-desc {
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;

  color: #000000;
}

.card-section-red .card-section-title {
  color: #FD2E24;
}